:root {
  --vp-c-brand-1: #3fb2e0;
  --vp-c-brand-2: #178ebe;
  --vp-c-brand-3: #086185;
  --vp-c-brand-soft: #7cd3f6;
}

.medium-zoom-overlay {
  z-index: 20;
}

.medium-zoom-image {
  z-index: 21;
}
