:root {
  --vp-c-brand-1: #3fb2e0;
  --vp-c-brand-2: #178ebe;
  --vp-c-brand-3: #086185;
  --vp-c-brand-soft: rgba(182, 219, 234, 0.65);
}

.medium-zoom-overlay {
  z-index: 20;
}

.medium-zoom-image {
  z-index: 21;
}
